html {
  scroll-behavior: smooth;
}

body {
    background-color: #191717;
    
    font-family: Noto Sans;
    color: #F1EFEF;
    margin-bottom: 50px
}

.app {
    
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
font-size: 1.5rem;
text-align: center;
}

.skills {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
 
}

.skill {
  margin-top: 1.5rem;
  margin-left: 20%;
  display: flex;
 align-items: center;
  flex-direction: row;
  
  
}

.skill:hover {
  box-shadow: inset 180px 0 0 0 #7D7C7C;
  color: #CCC8AA;
  transition: 1s ease-in-out
  
}

.skill-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;

}

.skill-name {
  margin: 1rem;
}

.projects {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center
 
}

.project {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img1 {
  width: 20rem;
  border-radius: 30% 70% 44% 56% / 53% 27% 73% 47% ;
  margin-bottom: 30px
}

.project-img2 {
  width: 20rem;
  border-radius: 52% 48% 37% 63% / 15% 24% 76% 85% ;
  margin-bottom: 30px
}

.project-img3 {
  width: 20rem;
  border-radius: 45% 55% 54% 46% / 45% 85% 15% 55% ;
  margin-bottom: 30px
}

.contacts {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Noto Sans;
    color: #F1EFEF
}

a:hover {
  cursor: pointer;
}

.floatingText {
opacity: 0;
transition: opacity 1s ease-in-out;
}

.showText {
  opacity: 1;
}


@media (min-width: 768px) {

.description {
    width: 50%;
}
.project-img1 {
  width: 30rem;

}

.project-img2 {
  width: 30rem;

}

.project-img3 {
  width: 30rem;

}

.contacts {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

}